{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Arbeitsberichte anzeigen</title>
    <link rel="stylesheet" type="text/css" href="{% static 'arbeitsberichte_anzeigen.css' %}">
</head>
<body>
    <header>
        <div class="logo-name">DVM-Zeiterfassung</div>
        <a href="{% url 'home' %}" class="profile-button">Zur Startseite</a>
    </header>
    <main>
        <h2>Deine Arbeitsberichte</h2>
        <div class="container">
            {% if berichte %}
            <table>
                <thead>
                    <tr>
                        <th>ID des Arbeitsberichts</th>
                        <th>Modul</th>
                        <th>Berichtsname</th>
                        <th>Startzeit</th>
                        <th>Endzeit</th>
                        <th>Netto-Arbeitszeit</th> 
                        <th>Kommentare</th>
                        <th>Aktionen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bericht in berichte %}
                    <tr>
                        <td>{{ bericht.id }}</td>
                        <td>{{ bericht.modul }}</td>
                        <td>{{ bericht.berichtsname }}</td>
                        <td>{{ bericht.startzeit }}</td>
                        <td>{{ bericht.endzeit }}</td>
                        <td>{{ bericht.nettoarbeitszeit }}</td>
                        <td>{{ bericht.kommentare }}</td>
                        <td>
                            <form method="post" action="{% url 'arbeitsbericht_loeschen' bericht.id %}">
                                {% csrf_token %}
                                <button type="submit" class="action-button">Löschen</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Es wurden noch keine Arbeitsberichte erstellt.</p>
            {% endif %}
        </div>
    </main>
</body>
</html>
