{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Download und Drucken</title>
    <link rel="stylesheet" type="text/css" href="{% static 'arbeitsberichte_download_drucken.css' %}">
</head>

<body>
    <header>
        <div class="logo-name">DVM-Zeiterfassung</div>
        <a href="{% url 'home' %}" class="profile-button">Zur Startseite</a>
    </header>
    <main>
        <h2>Download und Drucken</h2>
        <div class="container">
            {% if berichte %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Berichtsname</th>
                        <th>Herunterladen</th>
                        <th>JSON-Datei überschreiben</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bericht in berichte %}
                    <tr>
                        <td>{{ bericht.id }}</td>
                        <td>{{ bericht.berichtsname }}</td>
                        <td>
                            <div class="action-buttons">
                                <form method="get" action="{% url 'bericht_herunterladen' 'json' bericht.id %}">
                                    <button type="submit" class="action-button">JSON</button>
                                </form>
                                <form method="get" action="{% url 'bericht_herunterladen' 'csv' bericht.id %}">
                                    <button type="submit" class="action-button">CSV</button>
                                </form>
                                <form method="get" action="{% url 'bericht_herunterladen' 'xml' bericht.id %}">
                                    <button type="submit" class="action-button">XML</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <form method="post" enctype="multipart/form-data" action="{% url 'bericht_hochladen' %}">
                                {% csrf_token %}
                                <label for="upload_file">JSON-Datei hochladen:</label>
                                <input type="file" id="upload_file" name="upload_file" accept=".json" required>
                                <button type="submit">Hochladen</button>
                            </form>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Es wurden noch keine Arbeitsberichte erstellt.</p>
            {% endif %}
        </div>
    </main>
</body>

</html>

