{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">DVM-Zeiterfassung</div>
            <form action="{% url 'logout' %}" method="post" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        </div>
    </header>
    <main>
        <h2>Willkommen zur Eingangsseite, {{ username }}!</h2>
        <div class="grid-container">
            <div id="kachel1" class="kachel">
                <a href="{% url 'arbeitsbericht_erstellen' %}">neuen Arbeitsbericht anlegen</a>
            </div>
            <div id="kachel2" class="kachel">
                <a href="{% url 'arbeitsberichte_anzeigen' %}">alle Berichte anzeigen</a>
            </div>
            <div id="kachel3" class="kachel">
                <a href="">Download & Drucken</a>
            </div>
            <div id="kachel4" class="kachel">
                <a href="">dein Profil</a>
            </div>
        </div>
    </main>
</body>
</html>


