{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="{% static 'our_logo.png' %}" alt="Logo" class="logo">
            <form action="{% url 'logout' %}" method="post" class="ausloggen">
                {% csrf_token %}
                <button type="submit" class="ausloggen_button">Logout</button>
            </form>        
        </div>
    </header>
    <main>
        <div class="grid-container">
            <a href="{% url 'arbeitsbericht_erstellen' %}" class="kachel" id="kachel1">
                neuen Arbeitsbericht anlegen
            </a>
            <a href="{% url 'arbeitsberichte_anzeigen' %}" class="kachel" id="kachel2">
                alle Berichte anzeigen
            </a>
            <a href="{% url 'arbeitsberichte_download_drucken' %}" class="kachel" id="kachel3" onclick="checkStatus(event, this.href)">
                Download & Upload
            </a>
            <a href="#" class="kachel" id="kachel4" onclick="redirectToProfile()">
                dein Profil
            </a>
        </div>
    </main>
    <div class="eigener-alert" id="meinAlert">
        <p>&#9888;&#65039;  Diese Funktion steht nur VIP-Benutzern zur Verfügung!</p>
        <p>&#10145;&#65039;  Beantrage in deinem Profil ein Upgrade deines Status!</p>
        <button onclick="closeAlert()">OK</button>
    </div>
    <script>
        const loggedInUser = "{{ statusUser }}";

        function checkStatus(event, url) {
            event.preventDefault();    // Verhindert das Standardverhalten des Links

            if (loggedInUser === 'vip' || loggedInUser === 'admin') {
                window.location.href = url; // Weiterleitung zur ursprünglich abgefangenen URL
            } else {
                showAlert();
            }
        }
        function showAlert() {
            document.getElementById('meinAlert').style.display = 'block';
        }

        function closeAlert() {
            document.getElementById('meinAlert').style.display = 'none';
        }

        function redirectToProfile() {
            if (loggedInUser === 'admin') {
                window.location.href = "{% url 'profile_page_admin' %}";
            } else {
                window.location.href = "{% url 'profile_page_user' %}";
            }
        }
    </script>
</body>
</html>
