{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Anmeldung</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
</head>

<body>
    <header>
        <img src="{% static 'our_logo.png' %}" alt="Logo" class="logo">
    </header>

    <div class="container">
        <h2>Einloggen</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Benutzername" required>
            <input type="password" name="password" placeholder="Passwort" required>
            <button type="submit">Einloggen</button>
        </form>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <p class="link">Noch kein Konto? <a href="{% url 'register' %}">Jetzt registrieren</a></p>
    </div>

</body>

</html>

