{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profilseite</title>
    <link rel="stylesheet" type="text/css" href="{% static 'profile_page_admin.css' %}">    
</head>
<body>
    <header>
        <div class="logo-name">Profilseite User und VIP</div>
        <a href="{% url 'home' %}" class="profile-button">Zurück zur Startseite</a>
    </header>
    <br>

    <div class="profile-container">
        <div class="profile-pic" id="profile-pic">{{ user_initiale }}</div>
        <div class="username">{{ benutzer_daten }}</div>
    </div>

    <br>
    <table>
        <thead>
            <tr>
                <th colspan="4">Anfrage für Status-Upgrade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Dein Benutzername</th>
                <th>Deine Matrikelnummer</th>
                <th>Dein jetziger Status</th>
                <th></th>
            </tr>
            <tr>
                <td>{{benutzer_daten}}</td>
                <td>{{matrikelnummer}}</td>
                <td>{{status_angemeldeter_user}}</td>
                <td>
                    <form method="post" action="{% url 'status_upgrade_anfrage' %}" onsubmit="return showAlert()">
                        {% csrf_token %}
                        <input type="hidden" name="matrikelnummer" value="{{ matrikelnummer }}">
                        <button class="button-href" type="submit">Statusupgrade beantragen - hier klicken!</button>
                    </form>
                </td>
            </tr>  
        </tbody>
    </table> 
   
    <br> 
    <hr>
    <br>

    <div class="druckContainer">
        <h1 id="druckUeberschrift">Zusammenfassung aller Arbeitsberichte</h1>
        <button class="button-href" id="druckButton" onclick="printArbeitsberichteZusammenfassung()">Hier: Zusammenfassung Arbeitsberichte drucken</button>
    </div>
    <br>
    <table id="tabelleDrucken">
        <thead>
            <tr>
                <th colspan="4">So viel hast du an jedem einzelnen Modul gearbeitet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Modulnummer</th>
                <th>Modulname</th>
                <th>Arbeitszeit in Minuten [min]</th>
                <th>Prozentualer Anteil an Gesamtzeit in %</th>
            </tr>
            {% for modul, werte in alle_werte.items %}
            <tr>
                <td>{{ modul }}</td>
                <td>{{ werte.modulname }}</td>
                <td>{{ werte.nettoarbeitszeit }}</td>
                <td>{{ werte.prozentualer_anteil }} %</td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="2">Summe</th>
                <th>{{gesamt_nettoarbeitszeit}}</th>
                <th>100 %</th>
            </tr>
        </tbody>
    </table>
    <br>

    <script>
        function showAlert() {
            alert("Anfrage erfolgreich übermittelt");
            return true;  // Formular wird nach dem Alert abgeschickt
        }
        function printArbeitsberichteZusammenfassung() {
            const ueberschriftTabelle = document.getElementById("druckUeberschrift").outerHTML;
            const letzteTabelle = document.getElementById("tabelleDrucken").outerHTML;
            const printInhalt = ueberschriftTabelle + letzteTabelle;
            const ganzerInhaltSeite = document.body.innerHTML;
            document.body.innerHTML = printInhalt;
            window.print();
            document.body.innerHTML = ganzerInhaltSeite;
        }
    </script>
</body>
</html>
