body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #007acc;
    color: white;
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Ermöglicht zentriertes Logo mit Flexbox */
}

.header-content {
    display: flex;
    justify-content: center; /* Zentriert den Logo-Text horizontal */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative; /* Positionierung des Logout-Buttons */
}

.logo {
    font-size: 24px; /* Etwas größere Schrift */
    font-weight: bold;
}

.logout-form {
    position: absolute; /* Positioniert den Logout-Button unabhängig vom Logo */
    right: 20px; /* Abstand vom rechten Rand */
    top: 50%; /* Vertikale Mitte */
    transform: translateY(-50%); /* Exakte Zentrierung vertikal */
    margin: 0;
}

.logout-btn {
    padding: 8px 16px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #00e61f;
}

main {
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 1.8em;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 Spalten */
    gap: 50px; /* Abstand zwischen den Kacheln */
    justify-items: center; /* Zentriert die Kacheln */
    margin: 80px;
}

.kachel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: #d4edda;
    border: 2px solid #28a745;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.kachel:hover {
    background-color: #c3e6cb;
}

.kachel a {
    text-decoration: none; /* Entfernt Unterstreichen */
    color: inherit; /* Beibehaltung der Kachel-Farbe */
}

.kachel a:hover, .kachel a:focus, .kachel a:active {
    text-decoration: none; /* Kein Effekt bei Hover oder Klick */
    color: inherit; /* Keine Farbänderung */
}

