/* Grundstil f端r die Seite */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Header-Stil */
header {
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(to right, #5aadd1, #007acc);
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    height: 100px;
    margin: 10px; /* Abstand zwischen Logo und Schriftzug */
    padding: 4px;
    border-radius: 50%; /* Rundet die Ecken ab, um ein Oval zu erzeugen */
    border: 5px solid #2ab648; /* Blauer Rand */
    object-fit: cover; /* Bild wird skaliert, um den Container zu f端llen */
}

/* Container f端r das Login-Formular */
.container {
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 350px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px;
}

/* Titel f端r das Formular */
h2 {
    color: #333;
}

/* Formularfeld-Stile */
input[type="text"],
input[type="password"] {
    width: 83%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 90%;
    padding: 10px;
    background-color: #2ab648;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2ab648;
}

/* Link-Stil */
.link {
    margin-top: 15px;
    display: block;
    color: #007bff;
}
